body {
    font-size:14px;
    font-family:'Rajdhani',sans-serif;
}
header {
    background-color: #3c3c3b;
}
header .mailto:hover {
    text-decoration:none;
    color: #feba01!important;
}
header .searchbar a {
    font-size: 20px;
    color: white;
}
header .top-right ul.social {
    float: right;
    margin-bottom: unset !important;
    line-height: 35px;
}
.p-resume-diploma {
    border-top: 1px dotted;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 2em;
    font-weight:600 !important
}
.section-media {
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: url(../assets/img_galerie.png);
}
#section_media_imgs>.carousel-inner ,#section_media_movies >.carousel-inner{
    border-radius: 55px;
    border: 12px solid white;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:yellow
  }
#environment {
    background-color: #e6e6e6;
}
#EN-partenaire{
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    padding: 15px;
}
#EN-cache {
    position: absolute;
    background: #e6e6e6;
    width: 50px;
    height: 116px;
    transform: skew(
            15deg
    );
    bottom: -1px;
    left: -36px;
}
#EN-images {
    position: relative;
    overflow: hidden;
    height: 185px;
}
#EN-images::before {
    content: '';
    width: 160px;
    height: 18px;
    background: #feba01;
    position: absolute;
    transform: skew(
            15deg
    );
    top: 156px;
    opacity: 0;
}
.logo_menu img {
    height: 100px;
    display: block;
    margin: 0 auto;
}
#EN-images::after {
        content: '';
        width: 160px;
        height: 18px;
        background: #feba01;
        position: absolute;
        transform: skew(
    15deg
    );
        bottom: 11px;
        left: 24px;
        opacity: 1;
}
.figure-zz {
    box-shadow: 0 0 6px rgb(0 0 0 / 48%);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,.48);
    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 48%);
    -khtml-box-shadow: 0 0 6px rgba(0,0,0,.48);
    -ms-box-shadow: 0 0 6px rgba(0,0,0,.48);
    -o-box-shadow: 0 0 6px rgba(0,0,0,.48);
    border: 4px solid #fff;
    height: 160px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: unset;
    margin-bottom: 10px;
}
.description-after,.footer-after {
    margin-top: 10px;
    display: block;
    width: 100px;
    border-top: 2px solid #fab516;
    margin-bottom: 20px
}
.description-1 {
    display: block;
    padding-top: 10px;
    font-weight: 600;
}
.footer {
    background: #3a3a3a;
    padding: 0;
    color: #fff;
    padding-bottom: 20px;
}
.footer .single-widget h2 {
    font-size: 20px;
    color: #ffd600;
    position: relative;
}
.footer .list {
    margin-top: 20px;
}
.footer .list li a {
    color: #fff;
}
.footer .social {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer .single-widget ul.list i {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    color: #ffd600;
}
.footer .list li {
    line-height: 30px;
    color: #fff;
}
.footer .social li a:hover {
    background: #fff;
}
.footer a, .footer p {
    color: #eee;
}
.footer .single-widget .menu-footer-menu-rapide-container ul.menu li a,
.footer .single-widget .menu-footer-documentation-container ul.menu li a,
.footer .single-widget .menu-footer-cycles-de-formation-container ul.menu li a {
    color: unset !important;
    font-weight: 600 !important;
}
.footer .single-widget .menu-footer-menu-rapide-container ul.menu li a:before,
.footer .single-widget .menu-footer-documentation-container ul.menu li a:before,
.footer .single-widget .menu-footer-cycles-de-formation-container ul.menu li a:before,
.menu_filliere li a:before
{
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    margin-right: 10px;
    font-size: 1.3rem;
}
.footer a:hover {
    text-decoration: none;
}
.footer .single-widget .menu-footer-menu-rapide-container ul.menu li a:hover,
.footer .single-widget .menu-footer-documentation-container ul.menu li a:hover,
.footer .single-widget .menu-footer-cycles-de-formation-container ul.menu li a:hover,
.actuality .actu_menu li a:hover
{
    color: #ffd600 !important;
}
.footer-after{
    width: 100%;
}
.footer .single-widget ul.list svg {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    color: #ffd600;
}
.footer .single-widget {
    margin-top: 30px;
    font-weight: 600 !important;
}
.footer .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu ul li a {
    font-size: 1.1rem;
    font-family: "Rajdhani",sans-serif;
    font-weight: 600;
}

/* ============ only desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{
        color: #f2b20b;
        background-color: #3c3c3b;
    }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}
/* ============ desktop view .end// ============ */

.menu_filliere li a:hover,#open-search-input:hover{
    text-decoration:none;
    color: #ffd600 !important;
}
.menu_filliere li a {
    font-size:1.2rem;
    font-weight: 600!important;
    color: #000;
}
.network_header li a .fa-facebook {
    color: #0d8af0
}
.network_header li a .fa-youtube {
    color: #ff0000
}
.liner {
    line-height: 35px;
}
.top-left, .top-center {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}
.top-right {
    float: right;
}
.btn-lang {
    background-color:#ffd600;
}
@media all and (max-width:580px) {
    .navbar-brand img{
        height:75px
    }
}
.actualite_aside {
    box-shadow: 0px 4px 2px 0px #ffc107;
    border-radius : 5px;
}