$red : #cc0000;
$grey: rgb(60,60,59);
$white: rgb(255,255,255);
$yellow: rgb(255,214,0);
$greey:#808080;

.text-red{color: $red !important}
.text-grey{color: $grey !important}
.text-white{color: $white !important}
.text-yellow{color: $yellow !important}
.text-black{color: #000 !important}