.top-right{
    padding-right: unset;
    float: right;
}
.text-center{
    margin: auto;
    text-align: center;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.flexer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.text-upper{
    text-transform: uppercase;
}